<body>
  <form class="">
    <label for="linea">linea</label>
    <input type="text"  id="linea" name="linea" placeholder="Ingrese nombre de la linea">

    <label><input type="checkbox" name="hora_extra" value="1"> Horas Extras</label>

    <label for="fecha">Fecha</label>
    <input  id="tets" size="16" type="text" name="fecha">
    <p>Ingrese el Turno</p>
    <input type="radio" id="t1" name="fav_turno" value="T1">
    <label for="t1">T1</label><br>
    <input type="radio" id="t2" name="fav_turno" value="T2">
    <label for="t2">T2</label><br>
    <textarea name="data_raw" rows="8" cols="80"></textarea>
    <input type="submit" value="Enviar Datos" name="action1"/>

  </form>


</body>
