<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <img src="" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""> -->

    <title><h1>Programacion de la linea</h1></title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css')}}">
    
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/gijgo.min.css')}}"> -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{{ url_for('static', filename='lear.jpg')}}" class="" alt="">
        <a class="navbar-brand" href="/">Ingreso de Asistencia</a>

    </nav>
    <form class="row g-3 container" method="post" action="/">
        
        <label for="linea" class="col-auto col-form-label">Linea</label>
        
        <div class="col-auto">
            <input type="text" class="form-control" id="linea" name="linea" placeholder="Ingrese nombre de la linea">
        </div>
        <div class="checkbox col-auto">
            <label><input type="checkbox" name="hora_extra" value="1"> Horas Extras</label>
        </div>
        <div class="input-append date col-sm-4" id="dp3" data-date="" data-date-format="dd-mm-yyyy">
            <label class="label col-auto" for="lb_fecha">Fecha</label>
            <input class="span2 col-sm-4" id="tets" size="16" type="text" name="fecha">
            <span class="input-group-addon"><i class="bi-calendar"></i></span>
        </div>
        <div class="col">
            <p>Ingrese el Turno</p>
            <div class="form-check form-check-inline" >
              <input type="radio" id="t1" name="fav_turno" value="T1">
              <label for="t1">T1</label><br>
            </div>
            <div class="form-check form-check-inline" >
              <input type="radio" id="t2" name="fav_turno" value="T2">
              <label for="t2">T2</label><br>
            </div>
            <input type="radio" id="t3" name="fav_turno" value="T3">
            <label for="t3">T3</label><br>
            
          </div>
        <div class="row g-3 container">
            <label for="label" class="col-auto col-form-label">introducir los datos</label>
            <textarea class="form-control col-sm-7"  rows="10" aria-label="datos_raw"></textarea>
        </div>
        <input type="submit" value="Enviar Datos" name="action1"/>
        <script>
            $(document).ready(function(){
                $('#dp3').datepicker({});
                var selectedText = "2";
            });
            
        </script>
        
    </form>

    
    
        
    



</body>
</html>
